{% load static %}
<div class="row questionBody">
    <div class="col-2">
        <img src="{% static "images/tmp_static/profile_icons/user_03.jpg" %}" alt="tmpUser_01"
             class="questionAvatar">
        {% include "include/reputation.html" with reputation=answer.reputation %}
        <div class="form-group form-check correctBox">
            <input type="checkbox" class="form-check-input" id="Correct 1">
            <label class="form-check-label" for="Correct 1">Correct!</label>
        </div>
    </div>
    <div class="col-7">
        <p>{{ answer.text }}</p>
    </div>

</div>
