{% load static %}
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">AskMe</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarCollapse">
                <form class="d-flex" id="searchPanel">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <div class="navbar-nav me-auto mb-2 mb-md-0" id="leftPanel">
                    <a href="/addQuestion/" class="btn btn-outline-success buttonNavBar" role="button">Ask!</a>
                </div>
                <div class="navbar-nav userPanel" id="userPanel">
                    {% if isMember == True %}
                        <img src="{% static "images/tmp_static/profile_icons/user_01.jpg" %}" class="userAvatar"
                             alt="user">
                        <a class="nav-link" aria-current="page">user login</a>
                        <button type="button" class="btn btn-outline-info buttonNavBar">settings</button>
                        <a href="/login/" class="btn btn-outline-danger buttonNavBar" role="button">log out</a>
                    {% else %}
                        <a href="/login/" class="btn btn-outline-info buttonNavBar" role="button">log in</a>
                        <a href="/registration/" class="btn btn-outline-info buttonNavBar"
                           role="button">register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>