{% load static %}
<div class="row mainQuestionBody">
    <div class="col-2 questionLeftColumn">
        <img src="{% static "images/tmp_static/profile_icons/user_02.jpg" %}" alt="tmpUser_01"
             class="questionAvatar">
        {% include "include/reputation.html" with reputation=question.reputation %}
    </div>
    <div class="col-7">
        <h3><p>{{ question.title }}</p></h3>
        <p>{{ question.text }}</p>
        <div>
            <a>Tags </a><a href="#">Base </a><a href="#">Moon</a>
        </div>
    </div>
</div>
