{% load static %}
<div class="row mainQuestionBody">
    <div class="col-2">
        <img src="{% static "images/tmp_static/profile_icons/user_03.jpg" %}" alt="tmpUser_01"
             class="questionAvatar">
        <div class="btn-group container-fluid ">
            <button class="btn btn-outline-dark"><i class="bi-hand-thumbs-down-fill"></i></button>
            <button class="btn btn-outline-dark"><i class="bi-hand-thumbs-up-fill"></i></button>
        </div>
        <div class="reputationCounter container-fluid">
            <a>100</a>
        </div>
    </div>
    <div class="col-7">
        <h3><p>{{ question.title }}</p></h3>
        <p>{{ question.text }}</p>
        <div>
            <a>Tags </a><a href="#">Base </a><a href="#">Moon</a>
        </div>
    </div>
</div>