{% load static %}
<div class="row questionBody">
    <div class="col-2 questionLeftColumn">
        <img src="{% static "images/tmp_static/profile_icons/user_02.jpg" %}" alt="tmpUser_01"
             class="questionAvatar">
        {% include "include/reputation.html" with reputation=question.reputation %}
    </div>
    <div class="col-7">
        <h3><a href="/questionAnswer/{{ question.id }}">{{ question.title }}</a></h3>
        <p>{{ question.text }}</p>
        <div>
            <a href="#">Answers (3)</a>
            <a>Tags </a>
            {% for tag in question.get_tags %}
                <a href="/questionsByTag/{{ tag }}">{{ tag }} </a>
            {% endfor %}
        </div>
    </div>
</div>
