{% extends "include/base.html" %}

{% block content %}
    <h2 class="mt-5">New question</h2>
    <div class="row">
        <div class="col-2 newQuestionTitle">
            <h5>Title</h5>
        </div>
        <div class="col-7 form-group answerBox">
                       <textarea class="form-control answerTextArea" maxlength="128" id="Title" rows="1"
                                 placeholder="Title"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-2 newQuestionTitle">
            <h5>Text</h5>
        </div>
        <div class="col-7 form-group answerBox">
                       <textarea class="form-control answerTextArea" maxlength="1024" id="Text" rows="20"
                                 placeholder="Text"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-2 newQuestionTitle">
            <h5>Tags</h5>
        </div>
        <div class="col-7 form-group answerBox">
                       <textarea class="form-control answerTextArea" maxlength="128" id="Tags" rows="1"
                                 placeholder="Tags"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-2 newQuestionTitle">
            <p class="warningMessages">some warning messages</p>
        </div>
        <div class="col-7 form-group answerBox">
            <button type="submit" class="btn btn-outline-success mb-2 answerButton">Ask!</button>
        </div>
    </div>
{% endblock %}