{% extends "include/base.html" %}
{% block content %}

    <h2 class="mt-5">Log in</h2>
    <div class="row logInRow">
        <p class="warningMessages">some warning messages</p>
    </div>
    <div class="row logInRow">
        <div class="col-2 logInRow">
            <h5>Login</h5>
        </div>
        <div class="col-7 form-group logInRow">
            <input type="text" class="form-control" placeholder="dr_strangelove" id="Login">
        </div>
    </div>

    <div class="row logInRow">
        <div class="col-2 newQuestionTitle">
            <h5>Password</h5>
        </div>
        <div class="col-7 form-group answerBox">
            <input type="password" class="form-control" placeholder="*******" id="Password">
        </div>
    </div>
    <div class="row logInRow">
        <div class="col-2 newQuestionTitle">
            <h5></h5>
        </div>
        <div class="col-7 form-group answerBox">
            <button type="submit" class="btn btn-outline-success mb-2 answerButton">Log in</button>
        </div>
    </div>
    <div class="row logInRow">
        <div class="col-2 newQuestionTitle">
            <h5></h5>
        </div>
        <div class="col-7 form-group answerBox">
            <a href="/registration/">Create new account</a>
        </div>
    </div>
{% endblock %}