{% extends "include/base.html" %}
{% load bootstrap4 %}
{% block content %}

    <h2 class="mt-5">Log in</h2>
    <form action="/login/" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div>
            <button type="submit" class="btn btn-outline-success mb-2 answerButton">Log in</button>
        </div>

    </form>
    <div class="row logInRow">
        <div class="col-7 form-group answerBox">
            <a href="/registration/">Create new account</a>
        </div>
    </div>
{% endblock %}
