{% extends "include/base.html" %}
{% load bootstrap4 %}
{% block content %}
    {% include "include/questionInAnswer.html" %}
    {% for answer in posts %}
        {% include "include/answer.html" with main_question=question %}
    {% endfor %}
    {% include "include/pagination.html" with page=posts %}

    {% if user.is_authenticated %}

        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div>
                <button type="submit" class="btn btn-outline-success mb-2 answerButton">Answer</button>
            </div>

        </form>
    {% endif %}
{% endblock %}
